@page
@model RazorPagesMovie.Pages.Fahrzeuge.OverviewModel
@{
}

@if (Model.kundenfahrzeuge == null)
{
    <h2>Sie haben keine ausgeliehenen Fahrzeuge</h2>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.kundenfahrzeuge[0].ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.kundenfahrzeuge[0].Hersteller)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.kundenfahrzeuge[0].Preis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.kundenfahrzeuge[0].Kundenname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.kundenfahrzeuge[0].AusgeliehenBIS)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.kundenfahrzeuge)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hersteller)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kundenname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AusgeliehenBIS)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}