@page
@model RazorPagesMovie.Pages.Fahrzeuge.LKWs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LKW</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LKW.Hersteller)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LKW.Hersteller)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LKW.Preis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LKW.Preis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LKW.SitzPlaetze)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LKW.SitzPlaetze)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LKW.Raeder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LKW.Raeder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LKW.Leistung)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LKW.Leistung)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LKW.Bauhjahr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LKW.Bauhjahr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LKW.Verfuegbar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LKW.Verfuegbar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LKW.Kundenname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LKW.Kundenname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LKW.Ladevolumen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LKW.Ladevolumen)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
