@page
@model RazorPagesMovie.Pages.Kunden.IndexModel
@using Microsoft.AspNetCore.Identity;
@using RazorPagesMovie.Models;
 
@{
    ViewData["Title"] = "Index";
}

@{ 
    
}  

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kunde[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kunde[0].Vorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kunde[0].Alter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kunde[0].Stadt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kunde[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Kunde)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stadt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if ((await AuthorizationService.AuthorizeAsync(
                     User, item,
                     ContactOperations.Update)).Succeeded)
                    {
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                <text> | </text>
                    }

                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>

                @if ((await AuthorizationService.AuthorizeAsync(
                     User, item,
                     ContactOperations.Delete)).Succeeded)
                    {
                <text> | </text>
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    }
            </td>
        </tr>
        }
    </tbody>
    <tbody>
    </tbody>
</table>
